.card-mn-cls{
    height: 250px;
    width: 75%;
    color: black;
    background-color: white;
    margin: auto;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 50px;
}

.aboutMeCard-mn-cls{
    padding: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}
