.header-mn-cls{
    position: sticky;
    top: 0;
    /* width: fixed; */
    background-color: white;
    color: black;
    text-align: left;
    margin: 0px 10px 10px 10px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-left: 20px;
  }

a{
    text-decoration: none;
    color: black;
}

.header-rt-cls{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-style: normal;
    justify-content: flex-end;
    margin: auto;
    margin-right: 0;
}

.header-rt-ele{
    margin-right: 40px;
    font-family: "Pacifico", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 17px;
    cursor: pointer;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}

.header-rt-ele:hover{
    color: red;
}

.header-rt-ele-lnk:hover{
    color: red;
}

  